.rider-first {
  padding: 10rem 5rem 5rem 5rem;
}

.rider {
  padding-left: 5rem;
  padding-right: 5rem;
  padding-bottom: 5rem;
}

.rider-header {
  font-family: "Poppins", sans-serif;
  font-size: 32px;
}

.no-orders {
  color: red;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
}
