.cart {
    padding-top:10rem;
    background-color: rgb(250, 247, 247);
}

.cart-card {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.checkout-button {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 5rem;
}