.order-item {
  padding-top: 10rem;
  background-color: rgb(250, 247, 247);
  padding-bottom: 10rem;
}

.go-back {
  margin-left: 5rem;
}

.center-item-desc {
  width: 100%;
  display: flex;
  justify-content: center;
}

.ingredients {
  display: flex;
  justify-content: center;
}

.ingredients-images {
  padding: 2rem 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.ingredients-buttons {
  width: 70%;
  margin: 0 15%;
  padding: 0;
  display: flex;
  justify-content: space-around;
}
