.home-content {
  background-color: rgb(250, 247, 247);
  font-family: "Poppins";
  position: relative;
  width: 100%;
  padding: 5rem;
}

.home-content-header {
  width: 100%;
  text-align: center;
  font-family: "Indie Flower", cursive;
  color: red;
  font-size: 28px;
  font-weight: 100;
}

.home-content-title {
  text-align: center;
  font-size: 56px;
  color: rgba(0, 0, 0, 0.7);
}

.products-cards {
  margin-top: 5rem;
  width: 80%;
  display: flex;
  justify-content: space-around;
}

.item-shapes {
  display: flex;
  width: 100%;
  max-width: 100%;
}
