.icon-button {
    padding: 0.9rem 1rem;
    border-radius: 12px;
    outline: none;
    border: none;
    color: #fff;
    background-color: #000;
}

.icon-button:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.8);
    transition: all 0.15s ease-in-out;
}