.summary {
    width: 100%;
}

.summary-title, .summary-total span {
    font-size: 16px;
    font-weight: 600;
}

.summary-quantity {
    margin-bottom: 2rem;
} 

.summary-quantity, .summary-total {
    display: flex;
    justify-content: space-between;
}

.summary-quantity p, .summary-total p {
    font-weight: 500;
    color: rgb(144, 125, 125);
}