.navbar, .navbar-white {
    font-family: 'Poppins';
    height: 150px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    z-index: 1003;
}

.navbar-white {
    background-color: #fff;
}

.navbar-logo {
    width: 15%;
    height: 100%;
}

.navbar-logo img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.link-items {
    width: 25%;
    height: 100%;
}

.link-items ul {
    height: 100%;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.link-items ul li {
    font-weight: 500;
    text-transform: uppercase;
    color: red;
}

.link-items ul li:hover {
    cursor: pointer;
    color: black;
}

.link-item {
    text-decoration: none;
    color: inherit;
}

.checkout-items {
    margin-left: auto; 
    margin-right: 2.5rem;
    width: 28%;
}

.checkout-items ul {
    list-style: none;
    height: 100%;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.checkout-items-number {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-right: 2rem;
}

.checkout-items-number-red {
    color: red;
    font-size: 20px;
    font-weight: 600;
    margin-right: 2rem;
}