.vertical-text {
  font-size: 9.7rem;
  font-family: "Poppins";
  writing-mode: vertical-rl;
  float: right;
  transform: rotate(180deg);
  color: rgba(255, 255, 255, 0.2);
}

.bottom-right {
  position: absolute;
  right: 0;
  bottom: 0;
}

.middle {
  position: absolute;
  right: 10%;
  bottom: 25%;
}

.dark {
  color: rgba(0, 0, 0, 0.05);
}
