.card-image-wrapper {
    margin-top: 1rem;
    width: 65%;
    height: 12rem;
}

.card-image-wrapper img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.card-default {
    margin-left: 2rem;
    color: rgb(173, 163, 163);
    font-size: 15px;
    font-weight: 500;
}