.login {
  max-height: 100vh;
}

.login-header {
  font-family: "Poppins";
  margin: 0 0 2rem 0;
  text-align: center;
  color: rgba(0, 0, 0, 0.7);
  font-size: 52px;
  font-weight: 700;
  letter-spacing: 1px;
}
