.input-group {
    font-family: 'Poppins';
    margin: 1rem auto;
    height: 3.5rem;
    position: relative;
}

.input-item {
    padding: 1.8rem 1rem 0.5rem 1rem;
    height: 100%;
    width: 100%;
    background-color: rgb(233, 233, 233);
    border: none;
    border-radius: 12px;
    color: rgb(116, 115, 115);
}

.input-item.no-label {
    padding: 0 1rem;
}

.input-item:focus {
    outline: none !important;
}

.input-item::placeholder {
    margin: 0;
    padding: 0;
    font-size: 16px;
    vertical-align: middle;
}

.input-label {
    padding: 1rem;
    position: absolute;
    font-size: 11px;
    color: rgb(116, 115, 115);
}